.delete-user {
    margin-left: 10px;
}

btn btn-warning {

    color: red;
}





.row {
    background-color:rgb(13, 234, 153)
}

.delete-user {
    margin-left: 10px;
}

.container {
    margin-top: 25px;
}
thead {
   color: rgb(124, 120, 120); 
}

